body
{
    background-image: url("th\ \(1\).jpg");
    background-position: center;
    background-size: cover;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}

#output
{
background: white;
border-radius: 1000px;
border-top: 10px solid #4e44aa;
padding: 10px;
float: none;
text-align: center;
}

#number1, #number2{
    border-radius: 20%;
    width:100px;
    border-style: dashed;
    background-color: #AA4465;
    color: rgb(32, 206, 61);

}
h4{
	color:#eb0ee0;
}
span{
	color:#58aa44;
	font-size: 20px;
}